.navbar-brand{
  font-size: 120%;
  position: relative;
  width: 150px;
  left: 15px;
  background-size: contain;
}
.navbar{
  font-family: Georgia;
  font-size: 200%;
}

.carousel-inner{
  width: 100%;
	height: 560px;
}

.carousel-header{
	font-weight: bold;
}

.carouselcursor{
  cursor: pointer;
}

.carousel-description{
	font-style: italic;
}

.carousel-caption{
	font-family: Georgia;
	font-size: 200%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.post-title{
	font-family: Georgia;
}

.post-description{
	font-family: Georgia;
}

.column-blogpost{
	width: 50%;
	text-align: center;
}

.row-heading{
	padding-left: 30px;
}

.heading-one{
	font-family: Georgia;
	font-style: italic;
}

.description-heading{
	font-family: Georgia;
}

.subheading-one{
  font-family:Georgia;
  text-align: center;
}

.card-blogpost{
  cursor: pointer;
}

.card-heading{
	font-family: Georgia;
}

.card-text{
	font-family: Georgia;
}

.btn{
  border-color: black;
  font-family: Georgia;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.formdiv{
  font-family: Georgia;
  position: relative;
  text-align: center;
  border-style: double;
  border-width: 10px;
  padding: 10px;
  margin: 20px;
  display: inline-block;
}

footer{
  font-family: Georgia;
}
